*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.button-blue{
    background-color: rgb(41, 90, 223);
    color: white;
}

.button-blue#inizia-btn{
    padding: 10px 15px;
    line-height: 10px;
    margin-left: 30px;
}

#container-header{
    height: 80px;
    background-color: white;
    position: relative;
    line-height: 80px;
}

ul,
li,
nav div{
    display: inline-block;
    padding-left: 35px;
}

#dropbox-logo > img{
    vertical-align: middle;
}

#second-half{
    padding-right: 70px;
}

#jumbotron{
    height: 800px;
    background-color: rgb(155, 195, 223);
}

#container-jumbotron{
    width: 80%;
    margin: 0 auto;
}

#container-jumbotron > h1{
    font-size: 90px;
    padding-top: 70px;
    padding-bottom: 40px;
}

.text-jumbo{
    width: 29%;
}

.button-blue#prova-btn{
    text-align: center;
    min-width: 20px;
    width: 250px;
    padding: 8px;
    margin-top: 30px;
    margin-bottom: 10px;
}

p > i{
    font-size: 50px;
    font-weight: 700;
    padding-top: 50px;
}

.img-jumbo > img{
    height: 520px;
    padding-left: 100px;
}

main{
    width: 70%;
    height: 900px;
    margin: 0 auto;
}

.contenitore-piano-abbonamento{
    margin: 60px;
}

.piani-abbonamento{
    padding-top: 200px;
}

.piani-abbonamento > h1{
    font-size: 50px;
}

.radio-input{
    padding-top: 50px;
    font-size: 17px; 
    font-weight: 600; 
}

#annuale{
    margin-left: 30px;
}

.contenitore-piano-abbonamento{
    width: 350px;
}

.box-abbonamento{
    width: 350px;
    height: 1000px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 30px;
}

.header-box{
    width: 350px;
    height: 50px;
    border: 1px solid grey;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    margin-top: 30px;
}

.title-abbonamento > h2{
    font-size: 25px;
}

.subtitle-abbonamento{
    font-weight: 700;
    padding-top: 10px;
}

.undersubtitle-abbonamento{
    padding-top: 10px;
    color: rgb(139, 139, 139);
    font-size: 15px;
    font-weight: 600;
}

.description-abbonamento i{
    font-size: 20px;
    line-height: 1px;
}

.description-abbonamento{
    font-size: 15px;
    padding-bottom: 50px;
}

#provagratis-btn{
    text-align: center;
    padding: 8px;
    font-weight: 600;
}

.container-button-text{
    font-size: 15px;
}

.container-button-text span{
    color: rgb(41, 90, 223);
    text-decoration: underline;
}

.container-button-text p{
    padding-top: 30px;
    padding-bottom: 30px;
}

.lineadivisoria{
    border-top: 1px solid rgb(139, 139, 139);
    width: 50px;
}

.container-lista{
    padding-top: 30px;
}

.container-lista > p{
    font-weight: 700;
}

.lista-abbonamento{
    padding-left: 0px;
}

.lista-abbonamento > li{
    margin-top: 20px;
}

.lista-abbonamento  i{
    color: rgb(41, 90, 223);
}

.box-abbonamento#abbonamento-footer-container{
    min-width: 100%;
    height: 180px;
    position: relative;
}

.header-box-abbonamento#header-footerbox-abbonamento{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    font-size: 18px;
}

#titolo-sottotitolo-abbonamento{
    height: 100px;
}

#titolo-sottotitolo-abbonamento > p{
    padding-top: 15px;
    font-weight: 600;
}

.button-blue#contatta-ufficio-vendite{
    padding: 10px 80px 10px 80px;
    margin-left: 500px;
    font-weight: 600;
}

#sottotitolo-abbonamento-enterprise{
    position: absolute;
    bottom: 30px;
}

#container-contatto-partner{
    padding-top: 170px;
}

#image-partner > img{
    height: 650px;
}

#title-subtitle-partner > h2{
    font-size: 30px;
    padding-bottom: 35px;
    padding-top: 50px;
}

#title-subtitle-partner > p{
    font-size: 20px;
}

#title-subtitle-partner{
    width: 43%;
    padding-left: 100px;
    padding-bottom: 30px;
}

.button-blue#btn-trova-partner{
    padding: 10px 30px 10px 30px;
    border: 1px solid black;
    background-color: white;
    color: black;
    margin-left: 100px;
}

#container-dropbox-business > h1{
    font-size: 48px;
    padding-top: 100px;
}

.container-singolo-prodotto img{
    height: 290px;
}

.container-singolo-prodotto{
    height: 550px;
    width: 400px;
    padding: 25px;
}

.container-singolo-prodotto > h2{
    font-size: 30px;
    padding-bottom: 20px;
}