*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.button-blue{
    background-color: rgb(41, 90, 223);
    color: white;
}

.button-blue#inizia-btn{
    padding: 10px 15px;
    line-height: 10px;
    margin-left: 30px;
}

#container-header{
    height: 80px;
    background-color: white;
    position: relative;
    line-height: 80px;
}

ul,
li,
nav div{
    display: inline-block;
    padding-left: 35px;
}

#dropbox-logo > img{
    vertical-align: middle;
}

#second-half{
    padding-right: 70px;
}

#jumbotron{
    height: 800px;
    background-color: rgb(155, 195, 223);
}

#container-jumbotron{
    width: 80%;
    margin: 0 auto;
}

#container-jumbotron > h1{
    font-size: 90px;
    padding-top: 70px;
    padding-bottom: 40px;
}

.text-jumbo{
    width: 29%;
}

.button-blue#prova-btn{
    text-align: center;
    min-width: 20px;
    width: 250px;
    padding: 8px;
    margin-top: 30px;
    margin-bottom: 10px;
}

p > i{
    font-size: 50px;
    font-weight: 700;
    padding-top: 50px;
}

.img-jumbo > img{
    height: 520px;
    padding-left: 100px;
}